body{
       background-color: #1E1E1E;
}
.parrafo{
color:  #f1f1f1;
width: 1000px;
margin: auto; /*espacio entre el elemento y los que lo rodean, el margin auto sirve 
para centrar horizontalemnte un elemento dentro de su contenido*/
padding: 40px; /* espacio entre el borde y el contenido*/
}
h1, h2{
       color: white;
}
