.capa1{
	margin-left: 25%;
	padding: 12px;
}
ul{
	list-style-type: none;
	width: 20%;
	margin: 12px;
	padding:0px;
	height: 100%;
	background-color: limegreen;
	position: fixed; /*para que se vea el color en toda la
	lista de opciones*/
}
li a{
	background-color: limegreen;
	color: white;
	display: block; /* para agregarles un margen, el padding*/
	padding: 16px; /* quitmos el margen para que esten juntos*/
	text-decoration: none;

}
li a:hover{
	background-color: darkgreen;
	color: white;
	display: block; /* para agregarles un margen, el padding*/
	padding: 16px; /* quitmos el margen para que esten juntos*/
	text-decoration: none;

}
li a:hover{
	background-color: darkgreen;
}
li .activo{ /*agregamos color al primer elemeto de la lista para esonecesitamos nombrar la
	clase en html y hacer los cambios en archivo css, tomar en cuenta los espacios*/
	background-color: palegreen;
	color: white;
}
h1{

  font-family: "Montserrat", sans-serif;
 
}
h2{
	font-family: "Merriweather", serif;
}
h3{
	font-family: "Lora", serif;
	font-family: "Playwrite HU", cursive;
}
@font-face{
	 font-family: "fuente 1";
	 src: url("static/NunitoSans_7pt_Condensed-Black.ttf")
	 format("truetype");
}
p{
font-family: "fuente 1";
font-size: 12px;
text-align: justify;
}
@font-face{
	 font-family: "fuente 2";
	 src: url("Spectral/Spectral-Italic.ttf")
	 format("truetype");
}
.t2{
	 font-family: "fuente 2";
}