body{
       background-color: #1E1E1E;
}
p.parrafo{
color: white;
text-align: center;
}
h1{
       color: white;
}
.imagen{
  width: 230px;
  height: 230x; 
  margin: 5px; /* Espacio exterior */
  padding: 40px; /* Espacio interior */
}
table{

  margin-left: 0px;
  margin-right: 0px;

}


/* margin es fuera del borde y separa el elemento de otros elementos*/
/* padding dentro del borde del elemento y separa el contenido del borde del mismo elemento*/
