body{
       background-color: #1E1E1E;
}
p.parrafo{
color:  white;
text-align: center;
}
h1{
       color: white;
}
.imagen{
  width: 400px;
  height: 400px; 
  margin: 10px; /* Espacio exterior */
  padding: 5px; /* Espacio interior */
}


