body {
  background-color: #1E1E1E;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px 0;
}

.imagen {
  width: 215px;
  height: 290px;
  display: block;
  object-fit: cover;
  margin: auto;
  padding: 10px;
}

.parrafo {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

p.descuento {
  color: green;
  text-align: center;
}

.boton4 {
  margin: 10px;
  width: 200px;
  height: 50px;
  background-color: darkorange;
  color: white;
  text-align: center;
  border: none;           /* <- elimina el borde por defecto */
  outline: none;          /* <- elimina el borde al hacer clic (enfocado) */
  font-size: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

table.tabla {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  vertical-align: top;
  padding: 20px 10px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  table.tabla, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  th, td {
    width: auto;
    text-align: center;
  }

  .imagen {
    margin: 10px auto;
  }
}
