body{
       background-color: #1E1E1E;
}
p.parrafo{
       color: white;
       margin: 5px; /* Espacio exterior */
       padding: 20px 50px; /* Espacio interior */
}
p.parrafo1{
       color: white;
       margin: 5px; /* Espacio exterior */
       padding: 20px 100px; /* Espacio interior */
}
.imagen{
       width: 250px;
       height: 320px; 
       margin: 5px; /* Espacio exterior */
       padding: 40px; /* Espacio interior */
}
table{

       margin-left: 250px;
       margin-right: 0px;

}
.boton{
       margin: 50px; /* Espacio exterior */
       width: 200px;
       height: 50px;
       background-color: #1DB954;
       color: White;
       text-align: Center;
       border: none;
       font-size: 25px;
       cursor: pointer;
}
.boton2{
       margin: 50px; /* Espacio exterior */
       width: 200px;
       height: 50px;
       background-color: blue;
       color: White;
       text-align: Center;
       border: none;
       font-size: 25px;
       cursor: pointer;
}
.boton3{
       margin: 50px; /* Espacio exterior */
       width: 200px;
       height: 50px;
       background-color: red;
       color: White;
       text-align: Center;
       border: none;
       font-size: 25px;
       cursor: pointer;
}
.boton4{
       margin: 50px; /* Espacio exterior */
       width: 200px;
       height: 50px;
       background-color: darkorange;
       color: White;
       text-align: Center;
       border: none;
       font-size: 25px;
       cursor: pointer;
}
h1{
       color: white;
}
h2{
       color: white;
}
p{
       color: white;
}
.tabla{
       margin-left: 250px;
       margin-right: 0px;
}
ul{
      color: white; 
}